<footer id="footer">
    <span><i class="fas fa-copyright copyright-icon"></i><span>Sodia. All Rights Reserved</span></span>

    <ul>
        <li><a href="/" class="footer-link">Home</a></li>
        <li><a href="/users/profile" class="footer-link">Profile</a></li>
    </ul>
</footer>