<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <%- include('_header'); -%>
    <body>
        <h1>Sodia/<%= title %></h1>
    </body>
    <%- include('_footer'); -%>
</html>