<link rel="stylesheet" href="<%= assetPath('css/sign_up.css') %>">
<div class="login-page">
    <div class="form">
      <!-- <div class="log in"> -->
        <!-- <div class="login-header"> -->
          
        <!-- </div> -->
      <!-- </div> -->
      

        <form action="/users/create" class="login-form" method="POST">
          <h3>SIGN UP</h3> 
            <input type="name" name="name" placeholder="Your Name" required>
            <input type="email" name="email" placeholder="Your Email" required>
            <input type="password" name="password" placeholder="Password" required>
            <input type="password" name="confirm_password" placeholder="Confirm Password" required>
            <input type="submit" id="credentials-submit" style="letter-spacing: 0.2em;" class="btn btn-outline-secondary" value="Sign Up">
          </form>
      
    </div>
  </div>


<!-- <form action="/users/create" method="POST">
    <input type="name" name="name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="password" name="confirm_password" placeholder="Confirm Password" required>
    
</form>

<p>
    <a href="/users/auth/google">Google Sign In/Sign up</a>
</p> -->