#user-chat-box{
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px dashed grey;
    height: 350px;
	width: 300px;
	background: white;
	padding: 5px;
	box-shadow: 1px 1px 1px 1px lightgrey;
	overflow: auto;
}
#chat-message-input-container{
		height: 24%;
		width: 100%;
		display: flex;
		flex-direction: row;
		display: flex;
	align-items: flex-end;
	height: 86px;
	position: fixed;
}

#chat-message-input{
	height: 50%;
	width: 210px;
}

#send-message{
	height: 50%;
	width: 80px;
	font-size: 25px;
	color: white;
	border: none;
	background: #58d258;
}

.form-control{
	width: 18vw;
}

.other-message{
	text-align: left;
	padding: 5px;
   	display: inline-block;
	// padding: 15px;
	background-color: #ffa0a0;
	margin-top: 5px;
	word-break: break-all;
}

#chat-messages-list{
	list-style: none;
	padding: 10px;
	height: 70%;
	background-color: white;
	// overflow: auto;
	// display: flex;
	// flex-direction: column;
	// align-items: flex-start;

}

.self-message{
	text-align: right;
	padding: 5px;
	// padding: 15px;
    background-color: #a0dcff;
	order: 2;
	margin-top: 5px;
	word-break: break-all;
	align-self: flex-end;
}